* {
    margin: 0;
    padding: 0;
    }

 body {
        color: white;
        font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}


/* Top section */

.top_section {
    background-color: #1c1c1c;
    text-align: center;
    padding: 4rem 3rem;
}

.landing_pics {
    width: 30rem;
    height: 25rem;
    margin: 2rem 1rem;
}

/* middle section */

.outer_wrapper { 
    max-width: 69rem;
      margin: 0 auto;
  }

.inner_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3rem;
}

.middle_section {
    background-color: #1c1c1c;
    padding-bottom: 2rem;
}

.middle_par {
    margin: 1rem;
}

/* Third section */
.third_section {
    background-color:#b5b5b5;
    color: black;
    padding: 4rem 3rem;
}

.tab {
    margin: 0 3rem;
    padding-bottom: 1rem;
    
}

.option_pics {
    width: 15rem;
    height: 12rem;
    margin-right: 1rem;
}

.pic_wrapper {
    display: inline-flex;
    margin: 0 3rem 2rem;
}

.thrid_par {
    max-width: 45rem;
    margin: 1rem 0;
}

/* media queries */

@media only screen and (max-width: 1220px) {
    .landing_pics {
        width: 25rem;
        height: 20rem;
    }

    .outer_wrapper { 
        max-width: 58rem;
      }
  }

  @media only screen and (max-width: 1020px) {
    .landing_pics {
        width: 20rem;
        height: 15rem;
    }

    .outer_wrapper { 
        max-width: 48rem;
      }

      .thrid_par {
        margin: 0;  
    }
  }


  @media only screen and (max-width: 818px) {
    .landing_pics {
        width: 18em;
        height: 13rem;
    }

    .outer_wrapper { 
        max-width: 38rem;
      }

  }


  @media only screen and (max-width: 842px) {
    html{
        font-size: 14px;
    }
   
    .outer_wrapper {
       text-align: center;
   }

   .pic_wrapper {
    justify-content: center;
   
   }
    .pic_wrapper {
        flex-wrap: wrap;
    }

    .option_pics {
        padding-bottom: 1rem;
    }

    .thrid_par, .tab, .middle_par {
        text-align: left;
    }

    .tab {
        text-align: center;
    }

  }

  @media only screen and (max-width: 436px) {
    html{
        font-size: 12px;
    }
    .option_pics {
        width: 12rem;
        height: 8rem;
    } 
   
   }

   @media only screen and (max-width: 300px) {
    html{
        font-size: 11px;
    }
    .option_pics {
        width: 10rem;
        height: 7rem;
    } 
   
   }