* {
    margin: 0;
    padding: 0;
    }

 body {
        color: white;
        font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}


/* Top section */

.top_section {
    background-color: #1c1c1c;
    text-align: center;
    padding: 4rem 4rem;
}

.title {
    font-size: 3rem;
}
.landing_pics {

    margin: 2rem 1rem; 
    max-width: 30%;
    min-width: 20rem;
  height: auto;
}

/* middle section */

.outer_wrapper { 
    max-width: 69rem;
      margin: 0 auto;
  }

.inner_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3rem;
}

.middle_section {
    background-color: #1c1c1c;
    padding-bottom: 2rem;
}

.middle_par {
    margin: 1rem;
}

/* Third section */
.third_section {
    background-color:#b5b5b5;
    color: black;
    padding: 4rem 3rem;
}

.tab {
    margin: 0 3rem;
    padding-bottom: 1rem;
    
}

.option_pics {
    min-width: 15rem;
    width: 15rem;
    height: 12rem;
    margin-right: 1rem;
}

.pic_wrapper {
    display: inline-flex;
    margin: 0 3rem 2rem;
}

.thrid_par {
    max-width: 45rem;
    margin: 1rem 0;
}

button {
    background-color: #b5b5b5;
    display:block;
    text-align: center;
    margin: 2rem 7rem;
    width: 30%;
    min-width: 15rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}
button,a {
    text-decoration: none;
    color:#1c1c1c;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 110%;
    }

 button:hover {
    outline: none;
    background-color: white;
    transform: scale(1.1);
    
 } 
 
 
/* form section */
#form  {
    text-align: center;
    background-color:#1c1c1c;
    color: white;
    padding: 3rem 0;
}

#form p {
    text-align: left;
}




/* media queries */

@media only screen and (max-width: 1220px) {
    
    .outer_wrapper { 
        max-width: 68rem;
      }
  }


  @media only screen and (max-width: 1020px) {
   
    .outer_wrapper {
       text-align: center;
   }

   .pic_wrapper {
    justify-content: center;
   
   }
    .pic_wrapper {
        flex-wrap: wrap;
    }

    .option_pics {
        padding-bottom: 1rem;
    }

    .thrid_par, .tab, .middle_par {
        text-align: left;
    }

    .tab {
        text-align: center;
            margin: 0;
            
        
    }

  }

  @media only screen and (max-width: 436px) {
    html{
        font-size: 12px;
    }
    .option_pics {
        width: 14rem;
        height: 11rem;
    } 
    .landing_pics {
        min-width: 17rem;
    }

    p {
        font-size: 14px;
    }
    
    .title {
       padding-bottom: 2rem;
    }
    
    .top_section {
        
        padding: 4rem 2rem;
    }
   
   }

   @media only screen and (max-width: 300px) {
    html{
        font-size: 11px;
    }
  
    .option_pics {
        width: 13rem;
        height: 10rem;
    } 
    p {
        font-size: 13px;
    }
   }